<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-history-heading" data-cy="HistoryCreateUpdateHeading">Create or edit a History</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_predictionInput">Prediction Input</label>
          <input
            type="text"
            class="form-control"
            name="predictionInput"
            id="field_predictionInput"
            data-cy="predictionInput"
            formControlName="predictionInput"
          />
          @if (
            editForm.get('predictionInput')!.invalid && (editForm.get('predictionInput')!.dirty || editForm.get('predictionInput')!.touched)
          ) {
            <div>
              @if (editForm.get('predictionInput')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_predictionResult">Prediction Result</label>
          <input
            type="text"
            class="form-control"
            name="predictionResult"
            id="field_predictionResult"
            data-cy="predictionResult"
            formControlName="predictionResult"
          />
          @if (
            editForm.get('predictionResult')!.invalid &&
            (editForm.get('predictionResult')!.dirty || editForm.get('predictionResult')!.touched)
          ) {
            <div>
              @if (editForm.get('predictionResult')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_predictionDay">Prediction Day</label>
          <input
            type="number"
            class="form-control"
            name="predictionDay"
            id="field_predictionDay"
            data-cy="predictionDay"
            formControlName="predictionDay"
          />
          @if (editForm.get('predictionDay')!.invalid && (editForm.get('predictionDay')!.dirty || editForm.get('predictionDay')!.touched)) {
            <div>
              @if (editForm.get('predictionDay')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('predictionDay')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_windowSize">Window Size</label>
          <input
            type="number"
            class="form-control"
            name="windowSize"
            id="field_windowSize"
            data-cy="windowSize"
            formControlName="windowSize"
          />
          @if (editForm.get('windowSize')!.invalid && (editForm.get('windowSize')!.dirty || editForm.get('windowSize')!.touched)) {
            <div>
              @if (editForm.get('windowSize')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('windowSize')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            @for (userOption of usersSharedCollection; track $index) {
              <option [ngValue]="userOption">{{ userOption.login }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
