<div>
  <h2 id="page-heading" data-cy="HistoryHeading">
    <span>Histories</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

<!--      <button-->
<!--        id="jh-create-entity"-->
<!--        data-cy="entityCreateButton"-->
<!--        class="btn btn-primary jh-create-entity create-history"-->
<!--        [routerLink]="['/history/new']"-->
<!--      >-->
<!--        <fa-icon icon="plus"></fa-icon>-->
<!--        <span>Create a new History</span>-->
<!--      </button>-->
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (histories?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Histories found</span>
    </div>
  }

  @if (histories && histories.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="user.login">
              <div class="d-flex">
                <span>User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>

            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="predictionInput">
              <div class="d-flex">
                <span>Prediction Input</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="predictionResult">
              <div class="d-flex">
                <span>Prediction Result</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>

            <th scope="col">
              <div class="d-flex">
                <span>Prediction Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          @for (history of histories; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/history', history.id, 'view']">{{ history.id }}</a>
              </td>
              <td>
                {{ history.user?.login }}
              </td>
              <td>{{ history.predictionInput }}</td>
              <td>{{ history.predictionResult }}</td>
              <td>{{ dayjs(history.createdDate!) }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/history', history.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

<!--                  <a [routerLink]="['/history', history.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">-->
<!--                    <fa-icon icon="pencil-alt"></fa-icon>-->
<!--                    <span class="d-none d-md-inline">Edit</span>-->
<!--                  </a>-->

                  <button type="submit" (click)="delete(history)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (histories && histories.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
