<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (history) {
      <div>
        <h2 data-cy="historyDetailsHeading"><span>History</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ history.id }}</span>
          </dd>
          <dt><span>Prediction Input</span></dt>
          <dd>
            <span>{{ history.predictionInput }}</span>
          </dd>
          <dt><span>Prediction Result</span></dt>
          <dd>
            <span>{{ history.predictionResult }}</span>
          </dd>
          <dt><span>Prediction Day</span></dt>
          <dd>
            <span>{{ history.predictionDay }}</span>
          </dd>
          <dt><span>Window Size</span></dt>
          <dd>
            <span>{{ history.windowSize }}</span>
          </dd>
          <dt><span>User</span></dt>
          <dd>
            <span>{{ history.user?.login }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/history', history.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
