<div>
  <h1 class="d-flex align-items-center justify-content-center">Get your prediction and raise higher profit!</h1>
  <div class="joke-img d-flex align-items-center justify-content-center flex-column">
    <div>
            <div class="d-flex align-items-center justify-content-center flex-column">
              @if (account !== null) {
                @if (account) {
              <span id="home-logged-message">You are logged in as user &quot;{{ account.login }}&quot;.</span>
                }
              }
              <span>Click button below to access prediction page</span><br>
              <button class="btn btn-primary" routerLink="/prediction">Prediction page</button>
            </div>
    </div>

  </div>
</div>
